@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$Primary-BG-White: hsl(225, 100%, 94%);
$Primary-BG-Color: hsl(245, 75%, 52%);

$Very-Pale-Blue: hsl(225, 100%, 98%);
$Paragraph: hsl(224, 23%, 55%);
$Headline: hsl(223, 47%, 23%);

$fw-light: 500;
$fw-semi-bold: 700;
$fw-bold: 900;

$border-rad: 20px;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  height: 100vh;

  background: url('/res/pattern-background-desktop.svg') no-repeat;
  background-size: 100%;
  background-color: $Primary-BG-White;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Outfit', sans-serif;
}

.order-card {
  width: 30%;
  height: 75vh;

  background: #fff;
  border-radius: $border-rad;

  box-shadow: 10px 0px 50px rgba(114, 128, 167, 0.5);

  .order-card-top-img {
    width: 100%;
    border-radius: $border-rad $border-rad 0px 0px;
  }
}

.order-card-content {
  text-align: center;
  padding: 5% 10%;

  h1 {
    margin: 2.5% 0;
    font-size: 1.5rem;
    font-weight: $fw-bold;
    color: $Headline;
  }

  p {
    margin: 2.5% 0%;
    font-weight: $fw-light;
    color: $Paragraph;
  }
}

.payment-plan {
  display: flex;

  margin: 5% 0%;
  padding: 3.5%;

  background: $Very-Pale-Blue;
  border-radius: $border-rad;

  .price {
    margin: 0% 5%;
  }

  img {
    background: $Primary-BG-White;
    border-radius: 100px;
  }

  a {
  }
}

/* MOBILE */
@media screen and(max-width: 500px) {
  body {
    background: url('/res/pattern-background-mobile.svg') no-repeat;
  }
}
